[submodule "embedded/libs/FreeRTOS"]
	path = embedded/libs/FreeRTOS
	url = git@github.com:ARM-software/CMSIS-FreeRTOS.git
[submodule "embedded/platforms/stm32/f1/cmsis"]
	path = embedded/platforms/stm32/f1/cmsis
	url = git@github.com:STMicroelectronics/cmsis_device_f1.git
[submodule "embedded/libs/CMSIS"]
	path = embedded/libs/CMSIS
	url = git@github.com:ARM-software/CMSIS_5.git
[submodule "embedded/platforms/stm32/f1/hal"]
	path = embedded/platforms/stm32/f1/hal
	url = git@github.com:STMicroelectronics/stm32f1xx_hal_driver.git
[submodule "embedded/platforms/stm32/f4/cmsis"]
	path = embedded/platforms/stm32/f4/cmsis
	url = git@github.com:STMicroelectronics/cmsis_device_f4.git
[submodule "embedded/platforms/stm32/f4/hal"]
	path = embedded/platforms/stm32/f4/hal
	url = git@github.com:STMicroelectronics/stm32f4xx_hal_driver.git
